<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css' />
  <!-- <link rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css' /> -->
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>
  <div class="container fixed-top">
    <div class="row">
        <div class="col-xl-12">
          <div class="d-flex justify-content-between align-items-center">
            <h1>CRAFTsMAN</h1>
            <ul class="nav justify-content-center text-white">
              <li class="nav-item">
                <a class="nav-link active" href="product.html">Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="carts.html">
                  <i class="material-icons">
                    shopping_cart
                  </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>

  <%- contents %>

  <div class="container-fluid mailForm">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-xl-5">
          <div class="b-title font-weight-bold text-white">Subscribe for news and special offers!</div>
          <div class="input-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="" aria-label="">
            <span class="input-group-btn">
              <button class="btn btn-success" type="button" aria-label="">Action</button>
            </span>
          </div>
        </div>
        <div class="col-xl-7"></div>
      </div>
    </div>
  </div>
  <div class="container-fluid footer">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="copyright">
        <p>CRAFTsMAN</p>
        <p>© 2020. All Rights Reserved.</p>
      </div>
      <nav class="nav justify-content-center">
        <a class="nav-link" href="#">Purchase Policy</a>
        <a class="nav-link" href="#">Privacy Policy</a>
        <a class="nav-link" href="#">Terms & Conditions</a>
      </nav>
    </div>
  </div>


  <script src="./assets/js/vendors.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
  <script src="./assets/js/all.js"></script>
  <script>
    $('.card-group').owlCarousel({
      // center: true,
      items: 3,
      loop: false,
      margin: 20,
      stagePadding: 55,
      // responsive: {
      //   600: {
      //     items: 4
      //   }
      // }
    });
  </script>
</body>

</html>