*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  font-size: 16px;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: inherit;
}
ul {
  list-style-type: none;
}

.btnGreen:hover {
  color: #0e8a00;
  border: 1px solid #0e8a00;
  background-color: #fff;
}
.indexBanner {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right calc(50% - 690px) top 0%;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week6/index-1.jpg?raw=true");
}
.b-title {
  font-size: 3rem;
}
.b-subTitle {
  color: #0000009a;
  font-size: 1.5rem;
}
.subTitle {
  color: #0000009a;
}
.btnBig {
  padding: 18px 45px;
}
.g-color {
  color: $success;
}
.artBg,
.mailForm {
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.artBg {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week6/index-5.jpg?raw=true");
}
.mailForm {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week6/footer.jpg?raw=true");
}
.footer {
  color: #fff;
  background-color: #000;
}
.productNav {
  height: 76px;
  background-color: #f2f2f2;
}
.topMenu,
.bgBlack {
  transition-duration: 0.3s;
}
.bgBlack {
  background-color: red;
}
