*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  font-size: 16px;
}
img{
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  transition-duration: 0.3s;
}
a:hover {
  transition-duration: 0.3s;
  text-decoration: none;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: inherit;
}
ul {
  list-style-type: none;
}
.form-control::placeholder {
  color: white;
}
.logo {
  font-family: Raleway;
}
.btnGreen:hover {
  color: #0e8a00;
  border: 1px solid #0e8a00;
  background-color: #fff;
}
.indexBanner {
  margin-top: -56px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right calc(50% - 690px) top 0%;
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week6/index-1.jpg?raw=true");
}
.btnBig {
  padding: 18px 45px;
}
.g-color {
  color: $success;
}
.artBg,
.mailForm {
  height: 400px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.artBg {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week6/index-5.jpg?raw=true");
}
.mailForm {
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week6/footer.jpg?raw=true");
  input{
    padding: 25px;
  }
  button{
    transform: translateX(-1px);
    padding: 13px 25px;
    border-radius: 0 5px 5px 0;
  }
}
.footer {
  height: 95px;
  color: #fff;
  background-color: #000;
}
.productNav {
  height: 76px;
  background-color: #f2f2f2;
}
.logo_w {
  color: #fff;
}
.topMenu,
.bgBlack {
  transition-duration: 0.3s;
}
.bgBlack {
  background-color: #000;
  color: #fff;
}
.carouselCard .card,
.card-columns .card {
  border: none;
  .card-body {
    padding-left: 0;
  }
}
.sale {
  top: 10px;
  right: 10px;
}
.navPage {
  .active {
    color: #0e8a00;
    text-decoration: underline;
  }
}
.owl-carousel .owl-item img{
  height: 300px;
  object-fit: cover;
}